<div ng-app="noragamiAdverts" ng-controller="controlPage">
	<div id = "downPanelControl">
		<ul class = "panelButton">
			<li ng-click="setPage(0)" ng-class="{img: imgFlag==0}" title="Пополнить доску объявлений" class = "editting"></li>
			<li ng-click="setPage(1)" ng-class="{img: imgFlag==1}" title="Настройки" class = "addAdvent"></li>
			<li ng-click="setPage(2)" ng-class="{img: imgFlag==2}" title="Авторский состав" class = "avtor"></li>
			<li ng-click="setPage(3)" ng-class="{img: imgFlag==3}" title="Агитационный материал" class = "baner"></li>
		</ul>
	</div>
	
	<!--Разные выпадающие окна-->
	<div id="editting" title="Настройки">
		<div class = "whitePanel">
			<p>Громкость:</p> 
			<div id="slider-range-max"></div>
		</div>
		<div class = "closeDialog opacity07 opacityNo" ng-click="closePage(1)"></div>
	</div>
	<div id="addAdvent"> 
		<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(0)"></button>
		<img src = "<%= asset_path 'design/photo.png' %>"/>
		<div class = "panelAddAdvent rotation">
			<div class = "panelAddAdventFon">
			</div>
		</div>
		<div class = "panelAddAdvent rotationNo">
			<form ng-submit="createAdvert()">
				<div class = "panelAddAdventFon">
					<div class="errorMessage" ng-show="newAvatarError">{{newAvatarError}}</div>
					<input style = "margin-top: 10px"
						class="tags"
						placeholder = "URL аватара"
						ng-model="newAvatar">
					<div class="errorMessage" ng-show="newNickNameError">{{newNickNameError}}</div>
					<input class="tags"
						placeholder = "Автор"
						ng-model="newNickName">
					<div class="errorMessage" ng-show="newTitleError">{{newTitleError}}</div>
					<input class="tags"
						placeholder = "Заголовок"
						ng-model="newTitle">
					<div class="errorMessage" ng-show="newTextError">{{newTextError}}</div>
					<textarea class = "advent"
						placeholder = "Текст объявления..."
						ng-model="newText"></textarea>
				</div>
				<button id = "buttonAddAdvent" class="v-t opacity07 opacityNo"></button>
			</form>
		</div>
	</div>
	<div id="avtor" title="Про авторов"> 
		<p>Сайт разработан специально для летней Фандомной битвы 2014 на dairy.ru командой <a href = "#">Noragami</a>.</p>
		<p>Полный авторский состав будет представлен после деанона.</p>
		<div class = "closeDialog opacity07 opacityNo" ng-click="closePage(2)"></div>
	</div>
	<div id="baner" title="Агитационный материал"> 
		Тут будет баннер на нашу выкладку и на игру в отдельности.
		<div class = "closeDialog opacity07 opacityNo" ng-click="closePage(3)"></div>
	</div>
	<div id="showAdvent" title="Объявление №"> 
		<img src = "<%= asset_path 'design/photo.png' %>"/>
		<div class = "closeDialog opacity07 opacityNo" ng-click="closePage(4)"></div>
	</div>
</div>