<div ng-app ng-controller="controlPage">
	<div id = "downPanelControl">
		<ul class = "panelButton">
			<li ng-click="setPage(dialogs.addAdvent)" title="Пополнить доску объявлений" class = "editting opacity07 opacityNo"></li>
			<li ng-click="setPage(dialogs.editting)" title="Настройки" class = "addAdvent opacity07 opacityNo"></li>
			<li ng-click="setPage(dialogs.avtor)" title="Авторский состав" class = "avtor opacity07 opacityNo"></li>
			<li ng-click="setPage(dialogs.baner)" title="Агитационный материал" class = "baner opacity07 opacityNo"></li>
		</ul>
	</div>
	
	<!--Разные выпадающие окна-->
	<div id="editting" title="Настройки">
		<p>Громкость:</p> 
		<div id="slider-range-max"></div>
		<div class = "closeDialog" ng-click="closePage(dialogs.editting)">OK</div>
	</div>
	<div id="addAdvent" ng-show="showPage==dialogs.advent"> 
		<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(dialogs.addAdvent)"></button>
		<img src = "<%= asset_path 'design/photo.png' %>"/>
		<div class = "panelAddAdvent rotation">
			<div class = "panelAddAdventFon">
			</div>
		</div>
		<div class = "panelAddAdvent rotationNo">
			<div class = "panelAddAdventFon">
				<input style = "margin-top: 10px" class="tags" placeholder = "URL аватара">
				<input class="tags" placeholder = "Автор">
				<input class="tags" placeholder = "Заголовок">
				<textarea class = "advent" placeholder = "Текст объявления..."></textarea>
			</div>
			<button id = "buttonAddAdvent" class="v-t opacity07 opacityNo"></button>
		</div>
	</div>
	<div id="avtor" title="Про авторов"> 
		<p>Сайт разработан специально для летней Фандомной битвы 2014 на dairy.ru командой <a href = "#">Noragami</a>.</p>
		<p>Полный авторский состав будет представлен после деанона.</p>
		<div class = "closeDialog" ng-click="closePage(dialogs.avtor)">OK</div>
	</div>
	<div id="baner" title="Агитационный материал"> 
		Тут будет баннер на нашу выкладку и на игру в отдельности.
		<div class = "closeDialog" ng-click="closePage(dialogs.baner)">OK</div>
	</div>
	<div id="showAdvent" title="Объявление №"> 
		<img src = "<%= asset_path 'design/photo.png' %>"/>
		<div class = "closeDialog" ng-click="closePage(dialogs.showAdvent)">OK</div>
	</div>
</div>